/* İçeriği genel olarak ortalar ve sayfanın tamamını kaplamamasını sağlar */
.content {
  flex: 1;

  justify-content: center;
  align-items: center;

  border-radius: 50px 0px 0px 50px;
}

/* İçeriğe gelen her sayfanın düzgün görünmesini sağlar */
.content-container {
  width: 100%; /* Sayfanın %85'ini kaplar, kenarlarda boşluk bırakır */
  max-width: 1600px; /* Maksimum genişlik ayarı */
  height: auto;

  padding: 0px;
  overflow: hidden;
}
