body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
.app-container {
  display: flex;
 
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Chrome scrollbar sadeleştirme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}